@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model ReactDemo.Models.PagedData<ReactDemo.Models.FoodTruck>

@{
    ViewBag.Title = "Food Trucks";
    ViewBag.EntryPoint = "FoodTruck_index";

    var modelJson = JsonConvert.SerializeObject(Model, new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()});
}

<div id="app"></div>

@section scriptdata
{
    <script type="text/javascript">
        var routes = {
            getFoodTrucks: '@Url.Action("GetTrucks", "FoodTrucks")',
            getFoodTruckMenu: '@Url.Action("GetMenu", "FoodTrucks")'
        };

        var preloadedState = {
            foodTrucks: {
                response: @Html.Raw(modelJson)
            }
        };
    </script>
}
