@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model ReactDemo.Models.PagedData<ReactDemo.Models.FoodTruck>

@{
    ViewBag.Title = "Food Trucks";
    ViewBag.EntryPoint = "FoodTruck_index";

    Model.CurrentPage = Model.CurrentPage.ToList();

    var state = new
    {
        TrucksList = new
        {
            //SelectedTruckId = Model.CurrentPage.FirstOrDefault()?.Id,
            Response = Model
        },
        Entities = new
        {
            FoodTrucks = Model.CurrentPage.ToDictionary(t => t.Id, t => t)
        }
    };

    var stateJson = JsonConvert.SerializeObject(state, new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()});
}

<div id="app"></div>

@section scriptdata
{
    <script type="text/javascript">
        var routes = {
            getFoodTrucks: '@Url.Action("GetTrucks", "FoodTrucks")',
            getFoodTruckMenu: '@Url.Action("GetMenu", "FoodTrucks")'
        };

        var preloadedState = @Html.Raw(stateJson);
    </script>
}
