@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model ReactDemo.Models.PagedData<ReactDemo.Models.FoodTruck>

@{
    ViewBag.Title = "Food Trucks";
    ViewBag.EntryPoint = "FoodTruck_index";

    var modelJson = JsonConvert.SerializeObject(Model, new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()});
}

<div id="app"></div>

@section scriptdata
{
    <script type="text/javascript">
        var routes = {
            getTrucks: '@Url.Action("GetTrucks", "FoodTrucks")'
        };

        var preloadedState = {
            truckList: {
                selectedTruckId: @(Model.CurrentPage.FirstOrDefault()?.Id.ToString()),
                response: @Html.Raw(modelJson)
            },
            data: {
                foodTrucks: null
            }
        };
        preloadedState.data.foodTrucks = preloadedState.truckList.response.currentPage;
    </script>
}
